[tool.poetry]
name = "workflow-nuvs"
version = "0.1.0"
description = "A workflow for identifying novel viruses in Virtool."
authors = ["Ian Boyes"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
biopython = "^1.79"
virtool-core = "^0.4.0"
virtool-workflow = "^4.2.1"

[tool.poetry.dev-dependencies]
aiohttp = "^3.7.4"
pytest = "^6.2.4"
pytest-asyncio = "^0.15.1"
pytest-aiohttp = "^0.3.0"
pytest-xdist = "^2.3.0"
pytest-cov = "^2.12.1"
pytest-regressions = "^2.2.0"
black = "^21.12b0"
pre-commit = "^2.17.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
